*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eeeeee;
}

h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    border: 1 px solid red;
    margin:auto auto;
}

input{
    margin-left: 60px;
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add{
    margin-left: 10px;
    width: 10%;
    cursor: pointer;
    background: green;
    color: white;
    border: none;
    font-weight: bold;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /* border: 1px solid blue; */
    padding-top: 40px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 20px;
}

.item-icone{
    flex: 20%;
    /* border: 1px solid orangered; */
    text-align: center;
    
}

.circle{
    width: 2rem;
}

.item-nome{
    flex: 65%;
    /* border: 1px solid deeppink; */
    font-size: 20px;
    font-weight: bold;

}

.item-botao{
    flex: 15%;
    /* border: 1px solid orangered; */
}

.delete{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;

}

.circle-check{
    width: 2rem;
}

.item-clicado{
    background: #c0f6aa;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 20px;
}

.item-clicado .item-nome{
    text-decoration: line-through;
    color: grey;
}